{# {% include "search/index" %} #}
<div class="container-fluid p-0" id="nav-container">
  {# Top half of nav #}
  <div class="container-fluid" id="nav-top">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <ul>
          <li><i class="fas fa-phone"></i> &nbsp; <strong>Call for</strong></li>
          <li><a href="#" id="search-trigger"><i class="fas fa-search"></i>&nbsp; <strong>Search</strong></a></li>
          <li><i class="fas fa-circle"></i><a href="#"> &nbsp;Apply Now</a></li>
        </ul>
        <form class="form-inline" id="general-search"  action ="{{url('search/results')}}"> 
          <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
  {# Bottom half of nav #}
  <div class="container-fluid" id="nav-bottom">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <img src="/images/conversion-logo.png" alt="">
        <a href="#" class="dropdown" id="driver-tab-trigger">
       {# Get the requested category slug from the URL #}
          {% set slug = craft.app.request.getSegment(1) %}    
            {% if slug %}            
              {{ slug }}
            {% else %}
            Company Driver   
            {% endif %}         
        {# Company Driver&nbsp; #}        
        <i class="fas fa-chevron-down"></i></a>

          {# DROPDOWN MENU #}
        {% set pages = craft.entries.section('navigation').all() %}
          <ul id="driver-tabs" class="dropdown-menu">
          {% if getCookie('su_return') %}
              {% nav page in pages %}
               <a class="dropdown-item" class="d-block" href="/{{page.slug}}?{{getCookie('su_return')}}">{{page.slug}}</a> 
                      {% ifchildren %}
                          <ul class="dropdown list-style-none">
                              {% children %}?{{getCookie('su_return')}}
                          </ul>
                      {% endifchildren %}
              {% endnav %}
          {% else %}
              {% nav page in pages %}
               <a class="dropdown-item" class="d-block" href="/{{page.slug}}">{{page.slug}}</a> 
                 {% ifchildren %}
                   <ul class="dropdown list-style-none">
                    {% children %}
                   </ul>
                    {% endifchildren %}
              {% endnav %}
          {% endif %}
          </ul>

      </div>     
    </div>
  </div>   
</div>