{% include "partials/_header" %}
{% include "partials/_nav" %}
{% include "partials/_parallax" %}

{# <!-- THIS IS FOR SEO, PARTIALLY TAKEN OUT OF HEAD TAG --> #}
{% block SEO %}
     {# keywords #}
    {% if entry.keywordTags is not empty %}      
        {% set entries = entry %}
            <meta name="keywords" content="{% for tag in craft.tags.relatedTo(entries) %}{{ tag.title }} {% endfor %}">
        {% else %}   
            {% set myTagQuery = craft.tags().group('globalTags') %}
            {% set tags = myTagQuery.all() %} 
            <meta name="keywords"  content="{% for tag in tags %} {{ tag.title }} {% endfor %}">
    {% endif %}
    {# meta description #}
    {% if entry.metaDescription %}
            <meta name="description" content="{{entry.metaDescription}}">
        {% else %}
            <meta name="description" content="{{global.metaDescription}}">
    {% endif %}
    {# title tag #}
    {% if entry.titleTag %}
            <title>{{entry.titleTag}}</title>
        {% else %}
            <title>{{global.titleTag}}</title>
    {% endif %}
{% endblock %}



{% include "partials/_cards" %}


{# <!-- THIS IS THE MAIN CONTENT THAT YOU WILL SEE ON THE HOME PAGE  #}
{# UP UNTILL THE FOOTER --> #}
{% block main %}


{# JOBS and BENEFITS CONTAINER #}
<div class="container-fluid" id="jobs-benefits">
    <div class="row">
        {# offerings, left side, top when on mobile #}
        <div class="col-sm-12 col-md-6 p-0 jobs-benefits-col">
            <h3 class="jobs-benefits-header text-center">{{entry.offeringHeadline}}</h3>
            <div class="col-10 offset-1">
                <div class="jobs-benefits-content py-5">{{entry.offeringContent}}</div>
            </div>
        </div>

        {# off, right side, Bottom when on mobile #}
        <div class="col-sm-12 col-md-6 p-0 jobs-benefits-col">
            <h3 class="jobs-benefits-header text-center">{{entry.qualificationHeadline}}</h3>
            <div class="col-10 offset-1">
                <div class="jobs-benefits-content py-5">{{entry.qualificationContent}}</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{# VIDEO INCLUDES #}
 {% include "partials/_video" %}

 {# FOOTER INCLUDES #}
 {% include "partials/_footer" %}