{% include "partials/_header" %}
{% include "partials/_nav" %}
{% include "partials/_parallax" %}
{% include "partials/_cards" %}
{% include "partials/_feature" %}


<div class="container-fluid matrix-container bg-warning">
{% for block in entry.pageContent.all() %}
{% switch block.type %}

{% case "textBlock" %}
<div class="container bg-info matirx-textBlock-contaier">
    <h1>{{block.header}}</h1>
    <p>{{block.textArea}}</p>
</div>

{% case "imageblock" %}
<div class="container matrix-image-container">
    <div class="row">
        <img src=" {{block.image.one().getUrl() }} " alt="" class="img-fluid">
        <p class="caption">{{block.imageCaption}}</p>
    </div>
</div>

{% case "textLeft" %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            {{block.textarea}}
        </div>
        <div class="col-sm-12 col-md-4">
            <img src="{{block.imageright.one().getUrl() }}" alt="" class="img-fluid">
        </div>
    </div>
</div>

{% case "textRight" %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <img src="{{block.imageleft.one().getUrl() }}" alt="" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-8">
            {{block.textarea}}
        </div>
    </div>
</div>


{% endswitch %}


{% endfor %}
</div>

{% include "partials/_video" %}
{% include "partials/_footer" %}