{# RESULTS FOR JOB SEARCH
THE SEO TEMPLATE IS INTENTIONALLY OMITTED
IN ORDER TO PREVENT TEMPLATE ERROR #}

{% include "partials/_header" %}
{% include "partials/_nav" %}

{% block main %}

{# Set variables for each possible param: #}
{% set state = craft.app.request.getParam('state') %}
{% set trucktype = craft.app.request.getParam('trucktype') %}
{% set jobtype = craft.app.request.getParam('jobtype') %}
{% set city = craft.app.request.getParam('city') %}
{% set target = craft.app.request.getParam('zip') %}
{% set range = craft.app.request.getParam('range') %}

{# Here we set the criteria and combine all the parameter variables #}
{% set criteria ={   
        section: 'jobListings',     
        state: state,
        truckType: trucktype,
        jobType: jobtype,
        city: city,   
        jobAddress:{
            zip:target
        }                
    } %}

    {# Pass the criteria object to the query builder: #}
    {% set query = craft.entries(criteria) %}

        {% if target is not empty and range is not empty %}
            {% set params = {
                target: target,
                range: range
            } %}
        {% set query = craft.entries.jobAddress(params).orderBy('distance') %}

        {% endif %}


    {# Set up pagination, and let it grab the current page's results: #}
    {# Here we limit the cards by ever 6 entries but the map shows all jobs in searcg criteria #}
    {% set newQuery = craft.entries(criteria).limit(6)%}

    {% paginate newQuery as pageInfo, results %}
        
    {# CONDITIONAL IF THERE ARE RESULTS #}
    {% if results|length %}
    {# We build the map location based on criteria #}
    <div class="container-fluid" id="map">
        <div class="row bg-secondary">
            <div class="col-sm-12 p-0">
                {% set locations = query %}
                {% set options = {     
                    height:400,
                    zoom: 5,
                    'markerInfo': 'jobs/searchjobs/infoBubble',
                markerOptions: {
                    icon: 'https://maps.google.com/mapfiles/ms/icons/green-dot.png'
                        }
                } %}
                {{ craft.smartMap.map(locations, options) }}

            </div>
        </div>
    </div>

    {# DISPLAY Search Results #}
    <div class="container-fluid pt-5 pb-1 jobs-index">       
        <h1 class="text-center display-4 pb-5">Your Job Matches</h1>



    <div class=" container">
    <div class="row">
    <div class="card-group">

{% for result in results %} 

{% set singleJobParams =  result.jobAddress %} 
<div class="col-sm-12 col-md-4 py-4">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{result.title}}</h5>   
  </div>
  
    <ul class="list-group list-group-flush">

    {# driver, job and truck types #}
    <li class="list-group-item">    
        <strong>Driver Type:</strong> &nbsp;{{result.driverType}} &nbsp;
        <strong>Job Type:</strong> &nbsp;{{result.jobType}}  &nbsp; <br>
        <strong>Truck Type:</strong> &nbsp;{{result.truckType}}
    </li>
    
    {# City and state #}
    <li class="list-group-item"><strong>City/State: &nbsp;</strong>{{result.city}}, {{result.state}}</li>    

    {# If there is a zip #}
    {% if result.jobAddress.zip is not empty %}
    <li class="list-group-item"><strong>Zip: &nbsp;</strong>{{result.jobAddress.zip}}</li>
    {% endif %}
                                        
    {# if Zip Code range DISPLAY #}
    {% if target is not empty and range is not empty %}                    
    <li class="list-group-item">{{ result.jobAddress.distance | number_format(1) }} miles away</li>
    {% endif %}

  </ul>
  <div class="card-body text-center">
    <a href="/jobs/{{result.slug}}" class="card-link btn btn-success">Get More Details</a>
  </div>
    </div>
    </div>

    {% endfor %}
    </div>
    </div>
    </div>



    {# PAGINATION #}
    <div class="container p-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            {{ craft.pagination.render(pageInfo, 'firstNext', {
                    ulClass: 'pagination d-flex justify-content-center',
                    liClass: 'page-item px-3',
                    aClass: ' btn btn-secondary',
                    showPageInfo : true,
                    prevText: '<i class="fa fa-angle-double-left" aria-hidden="true"></i> Prev',
                    nextText: 'Next <i class="fa fa-angle-double-right" aria-hidden="true"></i>'
            }) }}       
        </div> 
        </div> 
    </div>
      <div class="text-center pb-5">
      <p class="display-4">Didnt Find what you're looking for?</p>
            <a href="/jobs" class="btn btn-info btn-lg">Search Again</a>
        </div> 
    </div>    


    {% else %}        
    {# SITE CONTENT CLASS IS A UTILITLY CLASS #}
    <div class="search-again conatiner-fluid pt-0 pb-5 utility-site-content">
    <div class="container-fluid p-0" id="search-again-image">
    </div>
        <h3 class="text-center mt-5">Didn't find what you're looking for?</h3>
        <a class="btn btn-lg btn-success search-again-btn" href="/jobs">Search Again</a>
    </div>

{% endif %}
{% endblock %}

{% include "partials/_footer" %}
