{% extends "_layout" %}

{% block main %}

    {# Set variables for each possible param: #}
    {% set state = craft.app.request.getParam('state') %}
    {% set trucktype = craft.app.request.getParam('trucktype') %}
    {% set city = craft.app.request.getParam('city') %}

    {% set criteria ={   
        section: 'jobListings',     
        state: state,
        truckType: trucktype,
        city: city,
    } %}

    {# Pass the criteria object to the query builder: #}
    {% set query = craft.entries(criteria) %}

    {# Set up pagination, and let it grab the current page's results: #}
    {% paginate query as pageInfo, results %}

    <div class="container-fluid pt-5 pb-1 jobs-index">
    <h1 class="text-center">Search Results</h1>

    {% for result in results %}
    <div class="row p-4">
        <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 bg-light p-2">
            <h3 class="job-header">{{ result.title }}</h3>
            <p><strong><em>Truck:</em></strong> {{ result.truckType }}</p>
            <p><strong><em>State</em></strong>{{ result.state}}</p>
             <p><strong><em>City:</em></strong> {{ result.city}}</p>
            <a class="btn btn-small btn-details" href="/jobs/{{result.slug}}">Get More Details &nbsp; <i
                    class="fas fa-arrow-right"></i> </a>
            <p class="pt-2"><strong>Benefits: </strong>
                {% for option in result.jobBenefits %}
                {{ option.value }}
                {# Value: {{ option }} or {{ option.value }} #}
                {% endfor %}
            </p>
        </div>
    </div>
    {% endfor %}
    <div class="search-again">
        <h3 class="text-center">Didn't find what you're looking for?</h3>
        <a class="btn btn-lg btn-success search-again-btn" href="/jobs">Search Again</a>
    </div>
</div>
{% endblock %}