{% extends "_layout" %}

{% block main %}

{# Set variables for each possible param: #}
{% set state = craft.app.request.getParam('state') %}
{% set trucktype = craft.app.request.getParam('trucktype') %}
{% set city = craft.app.request.getParam('city') %}
{% set target = craft.app.request.getParam('zip') %}
{% set range = craft.app.request.getParam('range') %}

{# Here we set the criteria and combine all the parameter variables #}
{% set criteria ={   
        section: 'jobListings',     
        state: state,
        truckType: trucktype,
        city: city,   
        jobAddress:{
            zip:target
        }                
    } %}

{# Pass the criteria object to the query builder: #}
{% set query = craft.entries(criteria)%}

{% if target is not empty and range is not empty %}
{% set params = {
    target: target,
    range: range
} %}
{% set query = craft.entries.jobAddress(params).orderBy('distance')
%}

{% endif %}


{# We build the map location based on criteria #}
<div class="container-fluid" id="map">
    <div class="row bg-secondary">
        <div class="col-sm-12 p-0">
            {% set locations = query %}
            {% set options = {     
                height:400,
                zoom: 5,
                'markerInfo': 'searchjobs/infoBubble',
               markerOptions: {
                icon: 'https://maps.google.com/mapfiles/ms/icons/green-dot.png'
                    }
            } %}
            {{ craft.smartMap.map(locations, options) }}

        </div>
    </div>
</div>
{# DISPLAY Search Results #}
<div class="container-fluid pt-5 pb-1 jobs-index">
    <h1 class="text-center">Search Results</h1>
    {# Set up pagination, and let it grab the current page's results: #}
    {% paginate query as pageInfo, results %}

    {% for result in results %}
    <div class="row p-4">
        <div class="col-sm-8 offset-sm-2 col-md-8 offset-md-2 bg-light p-4">
            <div class="row">
                <div class="col-sm-12 col-md-6 p-1">
                    <h3 class="job-header">{{result.title}}</h3>
                    <p><strong><em>State</em></strong> {{result.state}}</p>
                    <p><strong><em>City</em></strong> {{result.city}}</p>
                    <a class="btn btn-small btn-details" href="/jobs/{{result.slug}}">Get More Details &nbsp; <i
                            class="fas fa-arrow-right"></i></a>
                    
                    {# zip #}
                    <p><strong> zip:</strong><br>{{result.jobAddress.zip}}</p> 

                    {# Show the Radius #}
                    {% if target is not empty and range is not empty %}
                    <div class="container mt-3">
                    <p><strong>{{ result.jobAddress.distance | number_format(1) }} miles away</strong></p>
                    </div>
                    {% endif %}
                </div>
                <div class="col-sm-12 col-md-6 p-1">
                    <div class="container">
                        <div class="row">
                            <p><strong>Driver Type:</strong> <br>{{result.driverType}} </p> &nbsp;&nbsp;&nbsp;
                            <p><strong>Truck Type:</strong><br>{{result.truckType}}</p> &nbsp;&nbsp;&nbsp;
                            <p><strong> Job Type:</strong><br>{{result.jobType}}</p> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <p class="pt-2"><strong>Benefits: </strong> <br>
                                {% for option in result.jobBenefits %}
                                {{ option.label }},
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}


    <div class="search-again">
        <h3 class="text-center">Didn't find what you're looking for?</h3>
        <a class="btn btn-lg btn-success search-again-btn" href="/jobs">Search Again</a>
    </div>
</div>
{% endblock %}