{% include "partials/_header" %}
{% include "partials/_nav" %}
{% include "partials/_parallax" %}

{# <!-- THIS IS FOR SEO, PARTIALLY TAKEN OUT OF HEAD TAG --> #}
{% block SEO %}
    {# keywords #}
    {% if entry.keywordTags is not empty %}      
        {% set entries = entry %}
            <meta name="keywords" content="{% for tag in craft.tags.relatedTo(entries) %}{{ tag.title }} {% endfor %}">
        {% else %}   
            {% set myTagQuery = craft.tags().group('globalTags') %}
            {% set tags = myTagQuery.all() %} 
        <meta name="keywords"  content="{% for tag in tags %} {{ tag.title }} {% endfor %}">
    {% endif %}
    {# meta description #}
    {% if entry.metaDescription %}
            <meta name="description" content="{{entry.metaDescription}}">
        {% else %}
            <meta name="description" content="{{global.metaDescription}}">
    {% endif %}
    {# title tag #}
    {% if entry.titleTag %}
            <title>{{entry.titleTag}}</title>
        {% else %}
            <title>{{global.titleTag}}</title>
    {% endif %}            
{% endblock %}
   
{% include "partials/_cards" %}


{# <!-- THIS IS THE MAIN CONTENT THAT YOU WILL SEE ON THE HOME PAGE  #}
{# UP UNTILL THE FOOTER --> #}
{% block main %}



  <!-- MAIN -Features -->
  <div class="p-5">
    <div class="container indexFeatures">
      <div class="row">
        <div class="col-md-12">
          <h3 class="display-4 text-center text-secondary">Do not wait. Act</h3>
          <p class="mb-4 text-center lead">I am alone, and feel the charm of existence in this spot.</p>
          <div class="row">
            <div class="p-3 col-md-8">
              <h3>Main feature here </h3>
              <p class="mb-3">I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies</p> <a class="btn btn-primary mb-3" href="#">Call to action</a>
            </div>
            <div class="col-md-4"> <img class="img-fluid d-block" src="https://images.pexels.com/photos/1325723/pexels-photo-1325723.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260g"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{# VIDEO INCLUDES #}
 {% include "partials/_video" %}

 {# FOOTER INCLUDES #}
 {% include "partials/_footer" %}








