{# {% extends "_layout" %} #}
{% include "partials/_header" %}

  </head>
  {# utility-site-container is a utility class located in utility SCSS folder #}
  <div class="utility-site-container">
  <body class="container-fluid p-0 utility-site-content" onload="ReadCookie()">    
{% include "partials/_nav" %}

{# <!-- THIS IS FOR SEO, PARTIALLY TAKEN OUT OF HEAD TAG --> #}
{% block SEO %}
    {# keywords #}
    {% if entry.keywordTags is not empty %}      
        {% set entries = entry %}
            <meta name="keywords" content="{% for tag in craft.tags.relatedTo(entries) %}{{ tag.title }} {% endfor %}">
        {% else %}   
            {% set myTagQuery = craft.tags().group('globalTags') %}
            {% set tags = myTagQuery.all() %} 
        <meta name="keywords"  content="{% for tag in tags %} {{ tag.title }} {% endfor %}">
    {% endif %}
    {# meta description #}
    {% if entry.metaDescription %}
            <meta name="description" content="{{entry.metaDescription}}">
        {% else %}
            <meta name="description" content="{{global.metaDescription}}">
    {% endif %}
    {# title tag #}
    {% if entry.titleTag %}
            <title>{{entry.titleTag}}</title>
        {% else %}
            <title>{{global.titleTag}}</title>
    {% endif %}            
{% endblock %}
   

{# <!-- THIS IS THE MAIN CONTENT THAT YOU WILL SEE ON THE HOME PAGE  #}
{# UP UNTILL THE FOOTER --> #}
{% block main %}

<!-- PARALLAX -->
  <div class="text-center text-md-right pb-5 parallax">
    <div class="container">
      <div class="row">
        <div class="p-5 mx-auto mx-md-0 ml-md-auto col-8 col-md-7">
          <h3 class="h1 text-white">OTR Truck Driving Job In Nashville, TN</h3>
          <p class="mb-3 lead text-white">Of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
        </div>
      </div>
    </div>
  </div>

<!--CARDS-->
  <div class="pb-5 bg-light" style="">
    <div class="container indexCards">
      <div class="row pb-2">
        <div class="col-md-4" style="">
          <div class="row py-2 mx-auto" style="">
            <div class="col-md-12">
              <h3 class="text-secondary"><i class="fa fa-fw fa-user"></i>Company Drivers</h3>
              <p class="lead">We've made it easy to find your next job. Search from hundreds of jobs throughout the country and learn why ABC is the best.</p><a class="btn btn-red btn-sm" href="#"><i class="fa fa-fw fa-arrow-circle-o-right"></i><i class="fa fa-fw fa-truckz"></i>Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="">
          <div class="row py-2 mx-auto" style="">
            <div class="col-md-12">
              <h3 class="text-secondary"><i class="fa fa-fw fa-truck"></i>Owner Operators</h3>
              <p class="lead">We've made it easy to find your next job. Search from hundreds of jobs throughout the country and learn why ABC is the best.</p><a class="btn btn-red btn-sm" href="#"><i class="fa fa-fw fa-arrow-circle-o-right"></i><i class="fa fa-fw fa-truckz"></i>Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 applyBannerColumn" style="">
          <div class="row applyBanner py-2 px-1 mx-auto" style="">
            <div class="col-md-12">
              <h3 class="" contenteditable="true"><i class="fa fa-fw fa-search"></i>Find Your Next Job</h3>
              <p class="lead" style="">We've made it easy to find your next job. Search from hundreds of jobs throughout the country and learn why ABC is the best.<br></p><a class="btn btn-block btn-lg btn-success" href="#"><i class="fa fa-fw fa-search"></i><i class="fa fa-fw fa-truckz"></i>FIND MY NEXT JOB</a>
              <h5 class="pt-3">NEED TO TALK? Call a recruiter now. 888-888-8888</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- MAIN -Features -->
  <div class="p-5">
    <div class="container indexFeatures">
      <div class="row">
        <div class="col-md-12">
          <h3 class="display-4 text-center text-secondary">Do not wait. Act</h3>
          <p class="mb-4 text-center lead">I am alone, and feel the charm of existence in this spot.</p>
          <div class="row">
            <div class="p-3 col-md-8">
              <h3>Main feature here </h3>
              <p class="mb-3">I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies</p> <a class="btn btn-primary mb-3" href="#">Call to action</a>
            </div>
            <div class="col-md-4"> <img class="img-fluid d-block" src="https://images.pexels.com/photos/1325723/pexels-photo-1325723.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260g"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{# VIDEO INCLUDES #}
 {% include "partials/_video" %}

 {# FOOTER INCLUDES #}
 {% include "partials/_footer" %}








