{# THIS IS THE TEMPLATE FOR AN INDUVIDUAL TEMPLATE #}
{% extends "_layout" %}

{# <!-- THIS IS FOR SEO, PARTIALLY TAKEN OUT OF HEAD TAG --> #}
{% block SEO %}
       {# keywords #}
    {% if entry.keywordTags is not empty %}      
        {% set entries = entry %}
            <meta name="keywords" content="{% for tag in craft.tags.relatedTo(entries) %}{{ tag.title }} {% endfor %}">
        {% else %}   
            {% set myTagQuery = craft.tags().group('globalTags') %}
            {% set tags = myTagQuery.all() %} 
            <meta name="keywords"  content="{% for tag in tags %} {{ tag.title }} {% endfor %}">
    {% endif %}

    {# meta description #}
    {% if entry.metaDescription %}
            <meta name="description" content="{{entry.metaDescription}}">
        {% else %}
            <meta name="description" content="{{global.metaDescription}}">
    {% endif %}

    {# title tag #}
    {% if entry.titleTag %}
            <title>{{entry.titleTag}}</title>
        {% else %}
            <title>{{global.titleTag}}</title>
    {% endif %}


{% endblock %}

{# <!-- THIS IS THE MAIN CONTENT THAT YOU WILL SEE ON THE ENTRY PAGE 
UP UNTILL THE FOOTER --> #}
{% block main %}
<div class="container-fluid pt-5 pb-1 jobs-index">
    <div class="row p-4">
        <div class="col-sm-8 offset-sm-2 col-md-8 bg-light p-2">
            <div class="row">
                <div class="col-sm-12 col-md-10 offset-md-1">
                    {# global company overview #}
                    <div class="container pt-2">{{global.companyOverview}}
                        {{entry.jobOverview}}
                        <a href="{{entry.jobApplicationLink}}" class="btn btn-lg btn-success d-block mx-auto">Apply
                            Now!!</a>                            
                    </div>
                        <div class="container pt-5 text-center">
                        <a class="btn text-danger" href="/jobs">Back to jobs</a>
                        </div>
                    {# <div class="container p-3">{{entry.city}}, &nbsp;
                        {{entry.truckType}}, &nbsp;
                        <strong>{{entry.jobAddress.zip}}</strong> <br>
                        <strong> Benefits include:</strong>
                        {% for option in entry.jobBenefits %}
                        {{ option.label }},
                        {% endfor %}
                    </div> #}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}