{# THIS IS THE TEMPLATE FOR AN INDUVIDUAL TEMPLATE #}
{% extends "_layout" %}

{# <!-- THIS IS FOR SEO, PARTIALLY TAKEN OUT OF HEAD TAG --> #}
{% block SEO %}
<meta name="keywords" content="{{entry.keywords}}">
<meta name="description" content="{{entry.metaDescription}}">
<title>{{entry.titleTag}}</title>
{% endblock %}

{# <!-- THIS IS THE MAIN CONTENT THAT YOU WILL SEE ON THE ENTRY PAGE 
UP UNTILL THE FOOTER --> #}
{% block main %}
<div class="container-fluid pt-5 pb-1 jobs-index">
    <div class="container-fluid bg-light">
        <div class="row p-4">
            <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 bg-light p-2">
                <div class="row">
                {# left side of entry, top on Mobile #}
                    <div class="col-sm-12 col-md-6">
                        <h3 class="job-header">{{entry.jobTitle}}</h3>
                        <p>{{entry.jobOverview}}</p>
                        {{entry.city}}
                        {{entry.truckType}}
                        {{entry.jobAddress.zip}}
                        <p><strong> Benefits include:</strong>
                            {% for option in entry.jobBenefits %}
                            {# Label: {{ option.label }} #}
                            {{ option.label }},
                            {% endfor %}
                        </p>
                    </div>
                    {# Right side of entry, Bottom on Mobile #}
                    <div class="col-sm-12 col-md-6">
                        <img src="{{ entry.jobLocation.img({
                   markers: [{ color: 'blue'}]
                }) }}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}