{# THIS IS THE TEMPLATE FOR AN INDUVIDUAL TEMPLATE #}
{% extends "_layout" %}

{# <!-- THIS IS FOR SEO, PARTIALLY TAKEN OUT OF HEAD TAG --> #}
{% block SEO %}
       {# keywords #}
    {% if entry.keywordTags is not empty %}      
        {% set entries = entry %}
            <meta name="keywords" content="{% for tag in craft.tags.relatedTo(entries) %}{{ tag.title }} {% endfor %}">
        {% else %}   
            {% set myTagQuery = craft.tags().group('globalTags') %}
            {% set tags = myTagQuery.all() %} 
            <meta name="keywords"  content="{% for tag in tags %} {{ tag.title }} {% endfor %}">
    {% endif %}

    {# meta description #}
    {% if entry.metaDescription %}
            <meta name="description" content="{{entry.metaDescription}}">
        {% else %}
            <meta name="description" content="{{global.metaDescription}}">
    {% endif %}

    {# title tag #}
    {% if entry.titleTag %}
            <title>{{entry.titleTag}}</title>
        {% else %}
            <title>{{global.titleTag}}</title>
    {% endif %}


{% endblock %}

{# <!-- THIS IS THE MAIN CONTENT THAT YOU WILL SEE ON THE ENTRY PAGE 
UP UNTILL THE FOOTER --> #}
{% block main %}
<div id="jobs-entry">
  {# PARRALLAX #}
<div class="text-center text-md-right pb-5" id="jobs-entry__parrallax">
    <div class="container">
      <div class="row">
        {# PARRALLAX HEADER #}
        <div class="p-5 mx-auto mx-md-0 ml-md-auto col-10 col-md-7 ">
          <h3 class="h1 text-white">{{entry.title}}</h3>
          <p class="mb-3 lead text-white">Of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
        </div>
      </div>
    </div>
  </div>

 {# main row here #}
  <div class="mb-5" style="">
    <div class="container" id="jobs-entry__details">
      <div class="row negative-margin-row">
        {# Left side, details, tabs etc #}
        <div class="col-md-8 tabs-column" style="">
          <div class="card text-left" style="">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" data-target="#tabone">Job Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  data-toggle="tab" data-target="#tabtwo">Requirements</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" data-target="#tabthree">Company Overview</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content mt-2">
                <div class="tab-pane fade" id="tabone" role="tabpanel">
                  <p class="">When I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms.</p>
                  <p class="">Paragraph. Then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing.</p>
                </div>

                {# JOB REQUIREMENTS #}
                <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                            {% if entry.jobRequirements %}
                                <p class="">{{entry.jobRequirements}}</p>
                            {% else %}
                                <p class="">{{global.jobRequirements}}</p>
                            {% endif %}
                </div>
                {# Company Overview #}
                <div class="tab-pane fade active show" id="tabthree" role="tabpanel">
                    {% if entry.jobOverview %}
                           <p class="">{{entry.jobOverview}}</p>
                        {% else %}
                           <p class="">{{global.companyOverview}}</p>
                        {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {# Right Side, apply banner etc #}
        <div class="col-md-4" style="">
          <div class="row py-2 mx-auto applyBanner " style="">
            <div class="col-md-12">
              <h3 class="">How can I get this job?</h3>
              <p class="lead">We've made it easy to apply. Fill out a simple application to get started. We can have you on the road in no time.</p>
               {% if entry.jobApplicationLink %}
        <a class="btn btn-success btn-block" href="{{entry.jobApplicationLink}}">I WANT TO APPLY</a>
                {% else %}
        <a class="btn btn-success btn-block" href="{{global.jobApplicationLink}}">I WANT TO APPLY</a>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{# VIDEO AND MORE CONTENT #}
  <div class="pb-5">
    <div class="container job-video-container">
      <div class="row">
        {# left video container #}
        <div class="col-md-6 p-0 left-video">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/q_N7telJgRA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
        {# right content container #}
        <div class="col-md-6 right-video">
          <h1 class="display-4">ABC is second to none for professional truck drivers.</h1>
          <p>Paragraph. Then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 callToActionBanner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4">Take the next step in advancing your driving career. Join ABC now.</h1><a class="btn btn-primary" href="#">I WANT THIS JOB</a>
        </div>
      </div>
    </div>
  </div>
{# end jobs entry #}
</div>
{% endblock %}