{% extends "_layout" %}

{# <!-- THIS IS FOR SEO, PARTIALLY TAKEN OUT OF HEAD TAG --> #}
{% block SEO %}

   {# keywords #}
    {% if entry.keywordTags is not empty %}      
        {% set entries = entry %}
            <meta name="keywords" content="{% for tag in craft.tags.relatedTo(entries) %}{{ tag.title }} {% endfor %}">
        {% else %}   
            {% set myTagQuery = craft.tags().group('globalTags') %}
            {% set tags = myTagQuery.all() %} 
            <meta name="keywords"  content="{% for tag in tags %} {{ tag.title }} {% endfor %}">
    {% endif %}

    {# meta description #}
    {% if entry.metaDescription %}
            <meta name="description" content="{{entry.metaDescription}}">
        {% else %}
            <meta name="description" content="{{global.metaDescription}}">
    {% endif %}

    {# title tag #}
    {% if entry.titleTag %}
            <title>{{entry.titleTag}}</title>
        {% else %}
            <title>{{global.titleTag}}</title>
    {% endif %}
    
{% endblock %}



{# THIS IS THE CONTENT UNDER THE NAV #}
{% block main %}

{# This renders the map with a job locations currently listed and placed #}
{# <div class="container-fluid" id="map">
    <div class="row bg-secondary">
        <div class="col-sm-12 p-0">
            {% set locations = craft.entries.section('jobListings').all() %}
            {% set options = {     
                'markerInfo': 'jobs/infoBubble',
                height:400,                                         
                zoom: 4,
               markerOptions: {
                icon: 'https://maps.google.com/mapfiles/ms/icons/green-dot.png'
                    },
            } %}
            {{ craft.smartMap.map(locations, options) }}

        </div>
    </div>
</div> #}



{# SEARCH FOR JOBS HEADER #}
<div class="container-fluid" id="search-header">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3">
            <h3 class="text-center">Kick Start Your Career</h3>
        </div>
    </div>
</div>


{# This is where the search form lives #}
{# The styles for the search controller are in the _search-controller.scss file under jobs folder in the SCSS Directory 
#}
<div class="container-fluid search-controller-container">
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1">
            <h3 class="text-center">Search by city, <br> state and/or truck type</h3>
            {% include "jobs/searchjobs/search-controller" %}
        </div>
    </div>
</div>


{# CONTENT UNDER "SEARCH FOR TRUCK JOBS" #}
<div class="container-fluid pt-5 pb-1 jobs-index">
    <h3 class="text-center">Available Opportunities</h3>
    {% set query = craft.entries()
    .section('jobListings')
    .limit(10) %}

    {% paginate query as pageInfo, pageEntries %}

    {% for entry in pageEntries %}
    <div class="row p-4">
        <div class="col-sm-8 offset-sm-2 col-md-8 offset-md-2 bg-light p-2">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h3 class="job-header">{{entry.jobType}}</h3>
                    <p><strong><em>State</em></strong> {{entry.state}}</p>
                    <p><strong><em>City</em></strong> {{entry.city}}</p>
                    {# ZIP #}
                    <p><strong><em>Zip</em></strong> {{entry.jobAddress.zip}}</p>
                    <a class="btn btn-small btn-details" href="/jobs/{{entry.slug}}">Get More Details &nbsp; <i
                            class="fas fa-arrow-right"></i></a>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="container">
                        <div class="row">
                            <p><strong>Driver Type:</strong> <br>{{entry.driverType}} </p> &nbsp;&nbsp;&nbsp;
                            <p><strong>Truck Type:</strong><br>{{entry.truckType}}</p> &nbsp;&nbsp;&nbsp;
                            <p><strong> Job Type:</strong><br>{{entry.jobType}}</p> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <p class="pt-2"><strong>Benefits: </strong> <br>
                                {% for option in entry.jobBenefits %}
                                {{ option.label }},
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="container text-center">
        {% if pageInfo.prevUrl %}<a href='{{ pageInfo.prevUrl }}'
            class='btn btn-small btn-success text-center'>&lt;</a>{% endif %}

        {% if pageInfo.currentPage > 2 %}
        <a class='btn btn-small btn-success text-center' href='{{ pageInfo.firstUrl }}'>{{ 1 }}</a>
        {% endif %}

        {% if pageInfo.currentPage > 3 %}
        <span>...</span>
        {% endif %}

        {% for page, url in pageInfo.getPrevUrls(1) %}
        <a class='btn btn-small btn-success text-center' href='{{ url }}'>{{ page }}</a>
        {% endfor %}
        <span class='btn btn-small btn-success text-center'>{{ pageInfo.currentPage }}</span>

        {% for page, url in pageInfo.getNextUrls(1) %}
        <a class='btn btn-small btn-success text-center' href='{{ url }}'>{{ page }}</a>
        {% endfor %}


        {% if pageInfo.currentPage < pageInfo.totalPages-2 %}
        <span>...</span>
        {% endif %}

        {% if pageInfo.currentPage < pageInfo.totalPages-1 %}
        <a class='btn btn-small btn-success text-center' href='{{ pageInfo.lastUrl }}'>{{ pageInfo.totalPages }}</a>
        {% endif %}

        {% if pageInfo.nextUrl %}<a href='{{ pageInfo.nextUrl }}'
            class='btn btn-small btn-success text-center'>&gt;</a>{% endif %}


    </div>
</div>
{% endblock %}