{% set segments = craft.request.segments %}

{# {% set moreInfoUrl = '/'~segments[0]~'/'~segments[1]~'/'~element.slug~'/' %} #}
{% set directionsUrl = craft.smartMap.directions(element.jobAddress, element.title) %}

<h3>{{ element.title }}</h3>
<div class="div">
<a class="btn btn-small btn-success" href="jobs/{{element.slug}}">See Job Details</a> 
</div>
<div class="text-center p-2">
    {# "More Info" and "Get Directions" links #}
    <strong><a class="text-info" href="{{ directionsUrl }}" target="_blank">Get Directions</a></strong>
</div>
<div class="text-center">
    {# Special "zoomOnMarker" JavaScript function #}
    <h6 class="text-success" onclick="smartMap.zoomOnMarker('{{ marker.mapId }}', '{{ marker.markerName }}', 15)">Zoom in!</h6>
</div>