{% extends "_layout" %}

{% block main %}

{# SEARCH BY RADIUS #}
{% set target = craft.request.getParam('zip') %}
{% set range = craft.request.getParam('range') %}
{% set params = {
    target: target,
    range: range,
} %}
 {# Pass the criteria object to the query builder: #}
{% set entries = craft.entries.jobAddress(params).orderBy('distance').all() %}


{# We build the map location based on criteria #}
<div class="container-fluid" id="map">
    <div class="row bg-secondary">
        <div class="col-sm-12 p-0">      
              
            {% set locations = entries %}
            {% set options = {     
                'markerInfo': 'searchRadius/infoBubble',                                  
                height:400,
                zoom: 7,
               markerOptions: {
                icon: 'https://maps.google.com/mapfiles/ms/icons/green-dot.png'
                    }
            } %}

            {# <img class="img-fluid d-block mx-auto" src="{{ craft.smartMap.imgSrc(locations, options) }}" /> #}
            {{ craft.smartMap.map(locations, options) }}

        </div>
    </div>
</div>



<div class="container-fluid pt-5 pb-1 jobs-index">
<h1 class="text-center">Search Results</h1>

{% for entry in entries %}
<div class="row p-4">
<div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 bg-light p-2">
  <h3 class="job-header">{{ entry.title }}</h3>
    <div>        
        <p><strong><em>Truck:</em></strong>  {{ entry.jobAddress.city }}, </p>
        <p><strong><em>Truck:</em></strong>  {{ entry.jobAddress.state }} </p>
        <p><strong><em>Zip:</em></strong>  {{ entry.jobAddress.zip }} </p>
        <p><strong>{{ entry.jobAddress.distance | number_format(1) }} miles away</strong></p>
         <a class="btn btn-small btn-details" href="/jobs/{{entry.slug}}">Get More Details &nbsp; <i
                    class="fas fa-arrow-right"></i> </a>
    </div>
</div>
</div>
{% else %}
    <h2>No results found</h2>
{% endfor %}

{% endblock %}